# Fraud Check

In [41]:
import pandas as pd
import numpy as np

In [42]:
RF= pd.read_csv("FraudCheck.csv")

In [43]:
RF.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [44]:
RF.shape

(600, 6)

In [45]:
RF.columns

Index(['Undergrad', 'Marital.Status', 'Taxable.Income', 'City.Population',
       'Work.Experience', 'Urban'],
      dtype='object')

In [46]:
RF.isnull().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [47]:
RF.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [48]:
Ran_For=pd.DataFrame(RF) # Defining The data frame

In [49]:
# create dummies for Marital.Status
dummies = pd.get_dummies(Ran_For['Marital.Status']).rename(columns=lambda x: 'Marital.Status_' + str(x))
# bring the dummies back into the original dataset
Ran_For = pd.concat([Ran_For, dummies], axis=1)
print(Ran_For)

    Undergrad Marital.Status  Taxable.Income  City.Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work.Experience Urban  Marital.Status_Divorced  Marital.Status_Married  \
0                 10   YES                        0                       0
1                 18   YES                        1                       0
2                 30   YES                        0                       1
3                 15   YES                        0                       0
4                 28    NO                        0                       1
..               ...   ...                      ...                     ...
595                7   YES                        1                       0
596                2   YES                        1                       0
597                0   YES                        1                       0
598               17    NO                        0                       1
599               16    NO                        1                       0

     Marital.Status_Single
0                        1
1                        0
2                        0
3                        1
4                        0
..                     ...
595                      0
596                      0
597                      0
598                      0
599                      0

[600 rows x 9 columns]

In [50]:
# create dummies for Urban
dummies = pd.get_dummies(Ran_For['Urban']).rename(columns=lambda x: 'Urban_' + str(x))
# bring the dummies back into the original dataset
Ran_For = pd.concat([Ran_For, dummies], axis=1)
print(Ran_For)

    Undergrad Marital.Status  Taxable.Income  City.Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work.Experience Urban  Marital.Status_Divorced  Marital.Status_Married  \
0                 10   YES                        0                       0
1                 18   YES                        1                       0
2                 30   YES                        0                       1
3                 15   YES                        0                       0
4                 28    NO                        0                       1
..               ...   ...                      ...                     ...
595                7   YES                        1                       0
596                2   YES                        1                       0
597                0   YES                        1                       0
598               17    NO                        0                       1
599               16    NO                        1                       0

     Marital.Status_Single  Urban_NO  Urban_YES
0                        1         0          1
1                        0         0          1
2                        0         0          1
3                        1         0          1
4                        0         1          0
..                     ...       ...        ...
595                      0         0          1
596                      0         0          1
597                      0         0          1
598                      0         1          0
599                      0         1          0

[600 rows x 11 columns]

In [51]:
# create dummies for Undergrad
dummies = pd.get_dummies(Ran_For['Undergrad']).rename(columns=lambda x: 'Undergrad_' + str(x))
# bring the dummies back into the original dataset
Ran_For = pd.concat([Ran_For, dummies], axis=1)
print(Ran_For)

    Undergrad Marital.Status  Taxable.Income  City.Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work.Experience Urban  Marital.Status_Divorced  Marital.Status_Married  \
0                 10   YES                        0                       0
1                 18   YES                        1                       0
2                 30   YES                        0                       1
3                 15   YES                        0                       0
4                 28    NO                        0                       1
..               ...   ...                      ...                     ...
595                7   YES                        1                       0
596                2   YES                        1                       0
597                0   YES                        1                       0
598               17    NO                        0                       1
599               16    NO                        1                       0

     Marital.Status_Single  Urban_NO  Urban_YES  Undergrad_NO  Undergrad_YES
0                        1         0          1             1              0
1                        0         0          1             0              1
2                        0         0          1             1              0
3                        1         0          1             0              1
4                        0         1          0             1              0
..                     ...       ...        ...           ...            ...
595                      0         0          1             0              1
596                      0         0          1             0              1
597                      0         0          1             1              0
598                      0         1          0             0              1
599                      0         1          0             1              0

[600 rows x 13 columns]

In [52]:
Ran_For.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES
0,NO,Single,68833,50047,10,YES,0,0,1,0,1,1,0
1,YES,Divorced,33700,134075,18,YES,1,0,0,0,1,0,1
2,NO,Married,36925,160205,30,YES,0,1,0,0,1,1,0
3,YES,Single,50190,193264,15,YES,0,0,1,0,1,0,1
4,NO,Married,81002,27533,28,NO,0,1,0,1,0,1,0

In [53]:
Ran_For = Ran_For.drop('Undergrad', 1)

In [54]:
Ran_For = Ran_For.drop('Marital.Status', 1)

In [55]:
Ran_For = Ran_For.drop('Urban', 1)

In [56]:
Ran_For.head()

,Taxable.Income,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES
0,68833,50047,10,0,0,1,0,1,1,0
1,33700,134075,18,1,0,0,0,1,0,1
2,36925,160205,30,0,1,0,0,1,1,0
3,50190,193264,15,0,0,1,0,1,0,1
4,81002,27533,28,0,1,0,1,0,1,0

In [57]:
row_indexes=Ran_For[Ran_For['Taxable.Income']>=30000].index

In [58]:
Ran_For.loc[row_indexes,'tax']="Good"

In [59]:
row_indexes=Ran_For[Ran_For['Taxable.Income']<30000].index

In [60]:
Ran_For.loc[row_indexes,'tax']="Risky"

In [61]:
Ran_For.head()

,Taxable.Income,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES,tax
0,68833,50047,10,0,0,1,0,1,1,0,Good
1,33700,134075,18,1,0,0,0,1,0,1,Good
2,36925,160205,30,0,1,0,0,1,1,0,Good
3,50190,193264,15,0,0,1,0,1,0,1,Good
4,81002,27533,28,0,1,0,1,0,1,0,Good

In [62]:
Ran_For = Ran_For.drop('Taxable.Income', 1)

In [63]:
Ran_For.head()

,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES,tax
0,50047,10,0,0,1,0,1,1,0,Good
1,134075,18,1,0,0,0,1,0,1,Good
2,160205,30,0,1,0,0,1,1,0,Good
3,193264,15,0,0,1,0,1,0,1,Good
4,27533,28,0,1,0,1,0,1,0,Good

In [64]:

colnames = list(Ran_For.columns)
colnames

['City.Population',
 'Work.Experience',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Urban_NO',
 'Urban_YES',
 'Undergrad_NO',
 'Undergrad_YES',
 'tax']

In [65]:
predictors = colnames[:9]
target = colnames[9]

In [66]:
predictors

['City.Population',
 'Work.Experience',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Urban_NO',
 'Urban_YES',
 'Undergrad_NO',
 'Undergrad_YES']

In [67]:
target

'tax'

In [68]:
X = Ran_For[predictors]
Y = Ran_For[target]
X

,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES
0,50047,10,0,0,1,0,1,1,0
1,134075,18,1,0,0,0,1,0,1
2,160205,30,0,1,0,0,1,1,0
3,193264,15,0,0,1,0,1,0,1
4,27533,28,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...
595,39492,7,1,0,0,0,1,0,1
596,55369,2,1,0,0,0,1,0,1
597,154058,0,1,0,0,0,1,1,0
598,180083,17,0,1,0,1,0,0,1
599,158137,16,1,0,0,1,0,1,0

In [69]:
Y

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: tax, Length: 600, dtype: object

In [70]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_jobs=2,oob_score=True,n_estimators=15,criterion="entropy")

In [71]:
rf.fit(X,Y) # Fitting RandomForestClassifier model from sklearn.ensemble 
rf.estimators_ #

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1090019843),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1281391584),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=722735735),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1623315905),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1203432041),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=121192252),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=225517319),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=508054122),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1329691730),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=841051624),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2143413456),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=615420713),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=331350739),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1808600193),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=610682666)]

In [72]:
rf.classes_ # class labels (output)
rf.n_classes_ # Number of levels in class labels

2

In [73]:

rf.n_features_  # Number of input features in model 9  here.

9

In [74]:
rf.n_outputs_ # Number of outputs when fit performed

1

In [75]:
rf.oob_score_  # 0.71333

0.7416666666666667

In [76]:

rf.predict(X)

array(['Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good',
       'Risky', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Risky',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good'], dtype=object)

# Company Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
com_data= pd.read_csv("Company_Data.csv")

In [3]:
com_data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [4]:
com_data.shape

(400, 11)

In [5]:
com_data.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [6]:
com_data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [7]:
com_data_df=pd.DataFrame(com_data) # Defining The data frame

In [8]:
# create dummies for ShelveLoc
dummies = pd.get_dummies(com_data_df['ShelveLoc']).rename(columns=lambda x: 'ShelveLoc_' + str(x))
# bring the dummies back into the original dataset
com_data_df = pd.concat([com_data_df, dummies], axis=1)
print(com_data_df)

     Sales  CompPrice  Income  Advertising  Population  Price ShelveLoc  Age  \
0     9.50        138      73           11         276    120       Bad   42
1    11.22        111      48           16         260     83      Good   65
2    10.06        113      35           10         269     80    Medium   59
3     7.40        117     100            4         466     97    Medium   55
4     4.15        141      64            3         340    128       Bad   38
..     ...        ...     ...          ...         ...    ...       ...  ...
395  12.57        138     108           17         203    128      Good   33
396   6.14        139      23            3          37    120    Medium   55
397   7.41        162      26           12         368    159    Medium   40
398   5.94        100      79            7         284     95       Bad   50
399   9.71        134      37            0          27    120      Good   49

     Education Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium
0           17   Yes  Yes              1               0                 0
1           10   Yes  Yes              0               1                 0
2           12   Yes  Yes              0               0                 1
3           14   Yes  Yes              0               0                 1
4           13   Yes   No              1               0                 0
..         ...   ...  ...            ...             ...               ...
395         14   Yes  Yes              0               1                 0
396         11    No  Yes              0               0                 1
397         18   Yes  Yes              0               0                 1
398         12   Yes  Yes              1               0                 0
399         16   Yes  Yes              0               1                 0

[400 rows x 14 columns]

In [9]:
com_data_df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes,1,0,0
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes,0,1,0
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes,0,0,1
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes,0,0,1
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No,1,0,0

In [10]:
com_data_df = com_data_df.drop('ShelveLoc', 1)

In [11]:
# create dummies for Urban Column
dummies = pd.get_dummies(com_data_df['Urban']).rename(columns=lambda x: 'Urban_' + str(x))
# bring the dummies back into the original dataset
com_data_df = pd.concat([com_data_df, dummies], axis=1)
print(com_data_df)

     Sales  CompPrice  Income  Advertising  Population  Price  Age  Education  \
0     9.50        138      73           11         276    120   42         17
1    11.22        111      48           16         260     83   65         10
2    10.06        113      35           10         269     80   59         12
3     7.40        117     100            4         466     97   55         14
4     4.15        141      64            3         340    128   38         13
..     ...        ...     ...          ...         ...    ...  ...        ...
395  12.57        138     108           17         203    128   33         14
396   6.14        139      23            3          37    120   55         11
397   7.41        162      26           12         368    159   40         18
398   5.94        100      79            7         284     95   50         12
399   9.71        134      37            0          27    120   49         16

    Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  Urban_No  \
0     Yes  Yes              1               0                 0         0
1     Yes  Yes              0               1                 0         0
2     Yes  Yes              0               0                 1         0
3     Yes  Yes              0               0                 1         0
4     Yes   No              1               0                 0         0
..    ...  ...            ...             ...               ...       ...
395   Yes  Yes              0               1                 0         0
396    No  Yes              0               0                 1         1
397   Yes  Yes              0               0                 1         0
398   Yes  Yes              1               0                 0         0
399   Yes  Yes              0               1                 0         0

     Urban_Yes
0            1
1            1
2            1
3            1
4            1
..         ...
395          1
396          0
397          1
398          1
399          1

[400 rows x 15 columns]

In [12]:
# create dummies for US Column
dummies = pd.get_dummies(com_data_df['US']).rename(columns=lambda x: 'US_' + str(x))
# bring the dummies back into the original dataset
com_data_df = pd.concat([com_data_df, dummies], axis=1)
print(com_data_df)

     Sales  CompPrice  Income  Advertising  Population  Price  Age  Education  \
0     9.50        138      73           11         276    120   42         17
1    11.22        111      48           16         260     83   65         10
2    10.06        113      35           10         269     80   59         12
3     7.40        117     100            4         466     97   55         14
4     4.15        141      64            3         340    128   38         13
..     ...        ...     ...          ...         ...    ...  ...        ...
395  12.57        138     108           17         203    128   33         14
396   6.14        139      23            3          37    120   55         11
397   7.41        162      26           12         368    159   40         18
398   5.94        100      79            7         284     95   50         12
399   9.71        134      37            0          27    120   49         16

    Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  Urban_No  \
0     Yes  Yes              1               0                 0         0
1     Yes  Yes              0               1                 0         0
2     Yes  Yes              0               0                 1         0
3     Yes  Yes              0               0                 1         0
4     Yes   No              1               0                 0         0
..    ...  ...            ...             ...               ...       ...
395   Yes  Yes              0               1                 0         0
396    No  Yes              0               0                 1         1
397   Yes  Yes              0               0                 1         0
398   Yes  Yes              1               0                 0         0
399   Yes  Yes              0               1                 0         0

     Urban_Yes  US_No  US_Yes
0            1      0       1
1            1      0       1
2            1      0       1
3            1      0       1
4            1      1       0
..         ...    ...     ...
395          1      0       1
396          0      0       1
397          1      0       1
398          1      0       1
399          1      0       1

[400 rows x 17 columns]

In [13]:
com_data_df = com_data_df.drop('Urban', 1)

In [14]:
com_data_df = com_data_df.drop('US', 1)

In [15]:
com_data_df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0

In [16]:
row_indexes=com_data_df[com_data_df['Sales']>=10].index

In [17]:
com_data_df.loc[row_indexes,'sales']="yes"

In [18]:
row_indexes=com_data_df[com_data_df['Sales']<10].index

In [19]:
com_data_df.loc[row_indexes,'sales']="no"

In [20]:
com_data_df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,sales
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1,no
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1,yes
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1,yes
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1,no
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0,no

In [21]:
com_data_df = com_data_df.drop('Sales', 1)

In [22]:
colnames = list(com_data_df.columns)
colnames

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'Age',
 'Education',
 'ShelveLoc_Bad',
 'ShelveLoc_Good',
 'ShelveLoc_Medium',
 'Urban_No',
 'Urban_Yes',
 'US_No',
 'US_Yes',
 'sales']

In [23]:
predictors = colnames[:14]
target = colnames[14]

In [24]:
target

'sales'

In [25]:
predictors

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'Age',
 'Education',
 'ShelveLoc_Bad',
 'ShelveLoc_Good',
 'ShelveLoc_Medium',
 'Urban_No',
 'Urban_Yes',
 'US_No',
 'US_Yes']

In [27]:
X = com_data_df[predictors]
Y = com_data_df[target]
X

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [28]:
Y

0       no
1      yes
2      yes
3       no
4       no
      ...
395    yes
396     no
397     no
398     no
399     no
Name: sales, Length: 400, dtype: object

In [29]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_jobs=2,oob_score=True,n_estimators=15,criterion="entropy")

In [30]:
rf.fit(X,Y) # Fitting RandomForestClassifier model from sklearn.ensemble 
rf.estimators_ #

C:\Users\user\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:540: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:544: RuntimeWarning: invalid value encountered in true_divide
  decision = (predictions[k] /

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1006402455),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1179480684),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=816484540),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=783789163),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1400240137),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=998964124),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=927640188),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1438548893),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=385570657),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1266004735),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1334497277),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1721229180),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=993556770),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1042173840),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1740037770)]

In [31]:
rf.classes_ # class labels (output)
rf.n_classes_ # Number of levels in class labels

2

In [32]:
rf.n_features_  # Number of input features in model 14 here.

14

In [33]:
rf.n_outputs_ # Number of outputs when fit performed

1

In [34]:
rf.oob_score_  # 0.84

0.865

In [35]:
rf.predict(X)

array(['no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'no',
       'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no'], dtype=object)

In [36]:
com_data_df['rf_pred'] = rf.predict(X)

In [37]:
cols = ['rf_pred','sales']

In [38]:
cols

['rf_pred', 'sales']

In [40]:
from sklearn.metrics import confusion_matrix
confusion_matrix(com_data_df['sales'],com_data_df['rf_pred'])

array([[321,   0],
       [  0,  79]], dtype=int64)